
.container {
    text-align: center;
    border-style: solid; 
}
.question {
    text-align: center;
}
.answer {
    text-align: left;
}

.answerBlock {
    text-align: center;
    margin: 20px;
}

.timeRemaining {
    display: inline-block;
}

.timeRemainingHeader {
    display: inline-block;
}

.answerHeader {
    display: inline-block;
}

.answerText {
    display: inline-block;
}

.correctText {
    color: green;
    font-weight: bold;
}

.incorrectText {
    color: red;
    font-weight: bold;
}

.resultImage {
    width: 90%;
}

.answer:hover {
    background-color: grey;
    border-style: solid;
    border-color: black;
}

