.container {
    text-align: center;
    border-style: solid;
}
.question {
    text-align: left;
}
.answer {
    text-align: left;
}

.timeRemaining {
    display: inline-block;
}

.timeRemainingHeader {
    display: inline-block;
}

